services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: habitflow_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    environment:
      DEBUG: "True"
      DJANGO_SECRET_KEY: test-key-123
      POSTGRES_HOST: db
      POSTGRES_DB: habitflow_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres_password
      DJANGO_SUPERUSER_USERNAME: admin
      DJANGO_SUPERUSER_EMAIL: admin@example.com
      DJANGO_SUPERUSER_PASSWORD: admin123
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data: